<%- include("partials/header.ejs") %>

<div class="container my-5">
    <div class="p-5 text-center bg-body-tertiary rounded-3">
      <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
        <main class="px-3">
          <h1>Hi, I'm bar.</h1>
          <p class="lead">a junior web developer.</p>
          <p class="col-lg-8 mx-auto lead">I am eager to learn and driven by my passion to be a programmer.</p>
          <h2 style="padding-top: 30px; padding-bottom: 20px;">My Skills:</h2>
          <p class="lead"><span style="font-weight: bold; font-size: 1.5rem;">Team work</span><br/>Teamwork simplifies tasks and makes it easier to get them done faster.</p>
          <p class="lead"><span style="font-weight: bold; font-size: 1.5rem;">Problem solving</span><br/>Precisely Identify Problems And Collect Information To Plan Brainstorm Solutions.</p>
          <h2 style="padding-top: 50px;">Get In Touch</h2>
          <p class="lead">If you love progrmming as much as i do, lets talk!</p>
          <p class="lead">Contact me in any of the platforms that are linked at the bottom right of the website.</p>
        </main>
      </div>
    </div>
</div>

<%- include("partials/footer.ejs") %>