<%- include("partials/header.ejs") %>

<div class="container my-5">
    <div class="p-5 text-center bg-body-tertiary rounded-3">
      <h1 class="text-body-emphasis">Books</h1>
      <p class="lead">
        This is a section where we can share our thoughts about all kinds of <code>Books</code>, feel free to say anything you like!
      </p>
        <form action="/Books" method="POST">
            <label for="blogContent" class="d-inline-flex align-items-center btn btn-lg px-4">Add your thoughts:</label><br>
            <textarea id="blogContent" name="blogContent" rows="4" cols="50"></textarea><br><br>
            <button class="d-inline-flex align-items-center btn btn-primary btn-lg px-4 rounded-pill" type="submit">Submit</button>
          </form>
        
          <% if(Books.length > 0) { %>
            <h2>Existing Posts:</h2>
            <ul class="main-ul">
                <% Books.forEach(function(post, index) { %>
                    <li class="main-li"><%= post %></li>
                    <form action="/deleteBooks/<%= index %>?_method=DELETE" method="POST" style="display: inline;">
                        <button class="btn btn-danger" type="submit">Delete</button>
                    </form>
                <% }); %>
            </ul>
            <% } else { %>
                <p>No posts yet.</p>
            <% } %>
    </div>
</div>

<%- include("partials/footer.ejs") %>