<%- include("partials/header.ejs") %>

<div class="container col-xxl-8 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-6">
        <img src="images/Blog-Home-img.jpg" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
      </div>
      <div class="col-lg-6">
        <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">Welcome to my Fancy Blog!</h1>
        <p class="lead">Greetings and welcome to our Fancy Blog! We are delighted to see you as a part of our community. Feel free to discover, interact, and collaborate with us to create something wonderful. </p>
      </div>
      <header class="entry-header"><h1 class="entry-title" itemprop="headline"><%= Title %></h1>
      </header>
      <% for(let post of posts){%>
        <p>
          <%= post.post_content %>
        </p>
      <% } %>
    </div>
  </div>

<%- include("partials/footer.ejs") %>