<%- include("partials/header.ejs") %>

<div class="container my-5">
    <div class="p-5 text-center bg-body-tertiary rounded-3">
      <h1 class="text-body-emphasis">Resourses</h1>
      
      <div>
        <p>Trying to decide which companies to book your trip with?</p>
        <p>Below is a list of of my favorite ones. They are the best out there and continually offer superior deals and experiences. They are were all my travel planning and booking starts. Use them to book your trips too! </p>
        <p><em>Opinions, reviews, analyses &amp; recommendations are the author’s alone, and have not been reviewed, endorsed, or approved by any of these entities. This page does not include all card companies or all available card offers.</em></p>
      </div>
      
    
      
    </div>
</div>

<%- include("partials/footer.ejs") %>