.main-ul {
    list-style-type: none;
    padding: 0;
}
.main-li {
    text-align: left;
    margin-bottom: 10px;
    padding: 10px;
}
.entry-header{
    text-align: center;
    color: white;
    margin-top: 100px;
    padding-bottom: 10px;
}
.text-body-emphasis{
    padding-bottom: 50px;
}
.box {
    /* max-width: 400px; */
    margin: 50px auto;
    /* background: white; */
    border-radius: 5px;
    box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
}
form.edit {
    display: flex;
}
.item {
    min-height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #f1f1f1;
}
/* .left-elements {
    display: flex;
    align-items: center;
}
.left-elements form,
.left-elements p {
  margin-right: 10px; /* Adjust margin between form and p element as needed 
} */
.right-elements {
    display: flex;
    margin-left: auto;
}
.item:last-child {
    border-bottom: 0;
}
input[type="checkbox"] {
    margin: 20px;
    margin-left: 0;
}
button.add {
    min-height: 50px;
    width: 50px;
    border-radius: 50%;
    border-color: transparent;
    /* background-color: #a683e3; */
    color: #fff;
    font-size: 30px;
    border-width: 0;
}
.heighten{
    height: 50px;
}
.icon {
    height: 30px;
}
.add-post{
    height: 70px;
}
.post-content{
    padding: 20px;
}
   input[type="text"] {
    text-align: left;
    height: 60px;
    top: 10px;
    border: none;
    background: transparent;
    font-size: 20px;
    font-weight: 200;
    width: 80%;
}
  input[type="text"]:focus {
    outline: none;
    box-shadow: inset 0 -3px 0 0 #6424db;
}
  ::placeholder {
    color: lightgray;
    opacity: 1;
}
